a {
    text-align: center;
    border: 1px solid black;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert {
    padding: 0% 2%;
    margin-bottom: 0.5%;
}

.chatBox{
    border: 1px dotted black;
    height: 30em;
}

.col-6 {
    padding: 0%;
}

.contacts-title{
    margin-bottom: 5%;
}
.contact-name{
    margin: auto;
}

div.add-contact{
    padding: 0% 0% 0% 28%;
}

div.media {
    width: 77%;
    text-align: center;
}

.media-left>img {
    text-align: center;
    border-radius: 50%;
    width: 50%;
}

/* .message-box {
    opacity: 0.5;
} */

.profile {
    margin: 2% auto;
}

.profile-content {
    background-color: #e2e3e5;
    border-color: #d6d8db;
    border-radius: 0.25rem;
    margin: 1% auto;
}

ul.contact {
    margin-bottom: 0%;
    padding: 0%;
    width: 286%;
}